body {
	padding: 1em;
}

.main-article {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 1em;
	max-width: 700px;
	margin: auto;
	margin-bottom: 1em;
}

.main-article > div {
	padding: 0.8em;
	border-radius: 0.5em;
}

.main-article.star-rating > div {
	border-left:  3px solid hsla( 55, 0%, 50%, 1);
	width: 90%;
	margin-left: 5%;
	color: cadetblue;
}

.main-article.no-star-rating > div {
	border-right:  3px solid hsla( 55, 0%, 50%, 1);
}

.main-article.technical-section > div {
	border: none;
}

div.wikipedia,
.notice {
	border: 1px solid;
}
div.codeberg,
div.wikipedia {
	border-radius: 1em;
}
.wikipedia i.wikipedia,
.codeberg img.codeberg,
.notice i.icon {
	float: left;
	padding-right: 2em;
}
a.wikipedia {
	color: #0645ad;
}
a.wikipedia:visited {
	color: #0b0080;
}
div.codeberg a,
div.codeberg {
	background-color: #2185d0;
	color: white;
}
div.codeberg a {
	text-decoration: underline;
}
div.codeberg a:hover {
	color: hsla(0, 63%, 47%, 1);
}
div.codeberg a:active {
	color: hsla(0, 100%, 47%, 1);
}


.stub {
	border-color: red;
	color: red;
}

/* <h1> <h2> <h3 */

h1 span:lang(en) {
	color: white;
	background-color: black;
	text-align: center;
}


h2.main-article > div {
	border: none;
	border-top: 5px solid hsla( 55,  0%, 50%, 1);
	margin-top: 1em;
}

.main-article h3 {
	margin: 0;
	margin-bottom: 0.5em;
	font-size: 130%;
}

h3 div:lang(en) {
	border: none;
}

/* <a> */

a {
	color: #004f9c;
}

a.see.reference {
	text-decoration: none;
	cursor: pointer;
	font-size: 80%;
	vertical-align: super;
}
a.see.reference:target,
#reference-list li.reference:target {
	background-color: hsla(53, 100%, 80%, 1);
}

/* <blockquote> */

blockquote, q {
	font-style: italic;
}


/* Header & Footer */

#header {
	padding: 0;
}
#footer {
	padding: 0;
	padding-bottom: 2em;
}
#footer div ,
#header div {
	display: flex;
	border: none;
	padding: 0;
}
#header div {
	margin-bottom: 1em;
}
#footer div a ,
#header div a {
	flex-grow: 1;
	color: darkgrey;
	background-color: white;
	text-align: center;
	text-decoration: none;
}
#footer div a:hover ,
#header div a:hover {
	color: white;
	background-color: darkgrey;
}


/* Classes */

.democracy.virtue,
.democracy.flaw  {
	border: 1px black solid;
	border-radius: 0.5em;
	padding: 0.1em 0.8em;
	margin: 0.05em;
	display: inline-block;
	font-size: 80%;
}
.democracy.flaw  {
	border-color: darksalmon;
	color:        darksalmon;
}
.democracy.virtue  {
	border-color: forestgreen;
	color:        forestgreen;
}

/* Section stars */

.section-stars {
	float: right;
}
